<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/body.css" />
</head>
<body>
    <%- include('../partials/_headerimage.ejs') %>
    <div class="pagewrap">
    <%- include('../partials/_nav.ejs') %>
        <div class="container">
            <p><a href="/admin/sign-up">Create User</a></p>
        </div>
    </div>
</body>
</html>