<nav>
    <ul>
        <a href="/index/directory"><li>Full Directory</li></a>
        <li>
            Teams:
            <ul>
                <li>Engineering</li>
                <li>Marketing</li>
                <li>HR</li>
                <li>Operations</li>
            </ul>
        </li>
    </ul>
    <a href=""><p>Account</p></a>
    <a href="/auth/sign-out"><p>Log Out</p></a>
</nav>