<div class="header-image">

</div>
<nav class="navbar">
    <ul>
        <a href="/index/directory"><li>Full Directory</li></a>
        <li>
            Teams:
            <ul>
                <a href="/index/directory/team/Engineer"><li>Engineering</li></a>
                <a href="/index/directory/team/Marketing"><li>Marketing</li></a>
                <a href="/index/directory/team/HR"><li>HR</li></a>
                <a href="/index/directory/team/Operations"><li>Operations</li></a>
            </ul>
        </li>
        <a href="/index"><li>Home</li></a>
        <a href="/index/profile"><li>Account</li></a></li>
        <a href="/auth/sign-out"><li>Sign Out</li></a></li>
    </ul>
</nav>