<div class="header-image">

</div>
<nav>
    <ul>
        <a href="/index/directory"><li>Full Directory</li></a>
        <li>
            Teams:
            <ul>
                <a href="/index/directory/team/Engineer"><li>Engineering</li></a>
                <a href="/index/directory/team/Marketing"><li>Marketing</li></a>
                <a href="/index/directory/team/HR"><li>HR</li></a>
                <a href="/index/directory/team/Operations"><li>Operations</li></a>
            </ul>
        </li>
    </ul>
    <a href="/index">Home</a>
    <a href="/index/profile"><p>Account</p></a>
    <a href="/auth/sign-out"><p>Sign Out</p></a>
</nav>