<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/body.css" />
</head>
<body>
    <%- include('../partials/_nav.ejs') %>
    
    <h1>Update User</h1>
    <form action="/index/profile/edit-pass/confirm?_method=PUT" method="POST">
        <label for="password">Pasword:</label>
        <input type="password" name="password" id="password" required />

        <label for="confirmpassword">Confirm Password:</label>
        <input type="password" name="confirmpassword" id="confirmpassword" required/>

        <button type="submit">Update User</button>
    </form>
</body>
</html>